<body>
<div class="structure">
	<h1>About Panoposts</h1>
	<p>
	Having completed <a href="http://http://ruby.railstutorial.org/" target="_blank">Hartl's RoR Tutorial</a> and a few other tutorials, I'd like to mirror the Rails magic in a new micropost platform, but with an emphasis on CSS (thanks to <a href="http://learncss.tutsplus.com/" target="_blank">Nettuts+ Learn CSS in 30 Days</a>).
	</p>
	<p>
	This blog will serve as the test zone for my CSS and Rails experimentation as a 3-month-old Rails student.
	</p>
	<p>
	Drop me a line at kevin[at]kokev.in.
	</p>
</div>
</body>